/*div {*/
    /*background-color: #ff0000;*/
    /*color: red;*/
    /*text-decoration: none;*/
/*}*/

span {
    background-color: #0000ff;
}

.logo {
    height: 41px;
    width: 200px;
    background-image: url('skillogram/images/logo.png');
    background-repeat: no-repeat;
    padding-top:14px;
    padding-left:60px;
}

.clear {
    clear:both;
}

.posts-list .post {
    float:left;
    margin:5px;
}


.hashtag_wrapper a {
    margin: 4px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    text-decoration: none;
}